{% extends 'base.html' %}

{% block content %}
<div id="app">
  <div class="main-wrapper">
    <!-- NAVBAR -->
    <div class="navbar-bg mr-auto"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
      <!-- Search element -->
      <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
          <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
        </ul>
      </form>
      <!-- Notif & profile -->
      <ul class="navbar-nav navbar-right">
       
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          
          <div class="d-sm-none d-lg-inline-block" style="font-size: 20px;">Administrator</div></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="" class="dropdown-item has-icon">
              <i class="far fa-user"></i> Profile
            </a>
            <a href="" class="dropdown-item has-icon">
              <i class="fas fa-bolt"></i> Activities
            </a>
            <a href="" class="dropdown-item has-icon">
              <i class="fas fa-cog"></i> Settings
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </li>
      </ul>
      <!-- NAVBAR -->
    </nav>


    <!-- MAIN CONTENT -->
    <div class="main-sidebar">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <a href="/super/homepage">COMPANY</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
          <a href="index.html">X</a>
        </div>

        <!-- SIDEBAR -->
        <ul class="sidebar-menu">
            <li class="menu-header">MENU</li>
            <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-book"></i><span>Input Surat</span></a>
              <ul class="dropdown-menu">
                <li class="active"><a class="nav-link active" href="suratmasuk">Surat Masuk</a></li>
                <li><a class="nav-link" href="suratkeluar/">Surat Keluar</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown active">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-cog"></i><span>Konfigurasi</span></a>
                <ul class="dropdown-menu">
                  <li class="active"><a class="nav-link active" href="department/">Department</a></li>
                  <li><a class="nav-link" href="pengguna/">Pengguna</a></li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR -->
      </aside>
    </div>
    <div class="main-content">
      <section class="section">
        <div class="section-header">
          <h1>Dashboard</h1>
        </div>
        <!-- Input Surat keluar -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                <h4>Input Surat Keluar</h4>
                </div>
                <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="namaBerkas">Nama Berkas</label>
                        <input type="text" class="form-control" id="namaBerkas" placeholder="Nama berkas">
                        </div>
                    <div class="form-group col-md-6">
                        <label>File</label>
                        <input type="file" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label>Tipe Berkas</label>
                      <select class="custom-select">
                        <option selected>Pilih tipe berkas</option>
                        <option value="1">Sangat Penting</option>
                        <option value="2">Penting</option>
                        <option value="3">B aja</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="jenisBerkas">Jenis Berkas</label>
                    <input type="text" class="form-control" id="jenisBerkas" placeholder="Jenis berkas">
                </div>
                <div class="form-group">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" id="department" placeholder="Department">
                </div>
                <div class="form-group">
                    <label for="destination">Destination</label>
                    <input type="text" class="form-control" id="destination" placeholder="Destination">
                </div>
                <div class="form-group">
                    <label for="destinationAddress">Destination Address</label>
                    <input type="text" class="form-control" id="destinationAddress" placeholder="Destination Address">
                </div>
                <div class="form-group">
                    <label for="perihal">Perihal</label>
                    <input type="text" class="form-control" id="perihal" placeholder="Perihal">
                </div>
                <div class="form-group">
                    <label for="noSurat">Nomor Surat</label>
                    <input type="text" class="form-control" id="noSurat">
                </div>
                </div>
                <div class="card-footer">
                <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{%load static%}
<script src="{% static 'bootstrap/js/stisla.js' %}"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="{% static 'bootstrap/js/scripts.js' %}"></script>
<script src="{% static 'bootstrap/js/custom.js' %}"></script>
<script src="{% static 'bootstrap/js/index.js' %}"></script>



{% endblock %}
