<!doctype html>
<html lang="en">
    <head>
        {%load static%}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

          <!-- General CSS Files -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bootstrap/css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/components.css' %}">
        
        <title>Management</title>
    </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary" >
        <div class="container">
          <a class="navbar-brand text-white" href="#">Management System</a> -->
          
            {% block content %}

            {% endblock %}
        
        
  </body>
</html>
