{% extends 'base.html' %}

{% block content %}
<div id="app">
  <div class="main-wrapper">
    <!-- NAVBAR -->
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar" style="justify-content: flex-end;">

      <!-- Notif & profile -->
      <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
          <div class="dropdown-menu dropdown-list dropdown-menu-right">
            <div class="dropdown-header">yaa</div>
            <div class="dropdown-list-content dropdown-list-icons">
              <div class="dropdown-item">
                
              </div>
            </div>
          </div>
        
          
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <div class="d-sm-none d-lg-inline-block">{{ user.password }}</div>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="/data/{{department}}/{{divisi}}/suratmasuk" class="dropdown-item has-icon">
              Surat Masuk
            </a>
            <a href="/data/{{department}}/{{divisi}}/suratkeluar" class="dropdown-item has-icon">
              Surat Keluar
            </a>
            <a href="" class="dropdown-item has-icon">
              Pengaturan Akun
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </li>
      </ul>
      <!-- NAVBAR -->

    </nav>
      <div class="main-content" style="padding-left: 30px">
      <section class="section">
        <div class="section-header">
          <h1>Dashboard</h1>
        </div>
        <div class="row">

            <div class="col-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Nama File</th>
                      <th scope="col">Pengirim</th>
                      <th scope="col">Deskripsi</th>
                      <th scope="col">Jenis Berkas</th>
                      <th scope="col">Tipe Berkas</th>
                      <br>
                    </tr>
                  </thead>
                  <tbody>
                  
                    {% for i in sm_list %}
                    
                    {% if i.typeBerkas == 'SP' %}
                    <tr class="bg-danger text-white">
                      <td><a href="{{i.url}}" style="color: whitesmoke;">{{ i.fileName }}</a></td>
                      <td>{{ i.sender}} </td>
                      <td>{{ i.description }}</td>
                      <td>{{ i.jenisBerkas}} </td>
                      <td> {{ i.get_typeBerkas_display }} </td>
                    </tr>
                    {% else %}
                    
                    <tr>
                      <td><a href="{{i.url}}">{{ i.fileName }}</a></td>
                      <td>{{ i.sender}} </td>
                      <td>{{ i.description }}</td>
                      <td>{{ i.jenisBerkas}} </td>
                      <td> {{ i.get_typeBerkas_display }} </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
        
                  </tbody>
                </table>
              </div>

        </div>
        </section>


<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{%load static%}
<script src="{% static 'bootstrap/js/stisla.js' %}"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="{% static 'bootstrap/js/scripts.js' %}"></script>
<script src="{% static 'bootstrap/js/custom.js' %}"></script>
<script src="{% static 'bootstrap/js/index.js' %}"></script>



{% endblock %}