{% extends 'base.html' %}

{% block content %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<body>
    <div class="container bg-secondary justify-content-center">
        <div class="row">
            demo-upload
        </div>
    </div>
</body>



{% endblock %}