{% extends 'base.html' %}

{% block content %}
<div id="app">
  <div class="main-wrapper">
    <!-- NAVBAR -->
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
      <!-- Search element -->
      <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
          <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
        </ul>
        <div class="search-element">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
          <button class="btn" type="submit"><i class="fas fa-search"></i></button>

          <div class="search-backdrop"></div>
            <div class="search-result">
              <div class="search-header">
                Riwayat Pencarian
              </div>
              <!-- LOOP HISTORY -->
              <div class="search-item">
                <a href="#">How to hack NASA using CSS</a>
                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
              </div>
              <!-- LOOP HISTORY -->
            </div>

        </div>
      </form>
      <!-- Notif & profile -->
      <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
          <div class="dropdown-menu dropdown-list dropdown-menu-right">
            <div class="dropdown-header">Pemberitahuan</div>
            <div class="dropdown-list-content dropdown-list-icons">
              
              <!-- LOOP NOTIF -->
              <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Judul berkas masuk
                    <div class="time">21-05-2021</div>
                  </div>
              </a>
              <!-- END LOOP NOTIF -->

            </div>
          </div>
        </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <img alt="image" src="" class="rounded-circle mr-1">
          <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-title">Logged in 5 min ago</div>
            <a href="features-profile.html" class="dropdown-item has-icon">
              <i class="far fa-user"></i> Profile
            </a>
            <a href="features-activities.html" class="dropdown-item has-icon">
              <i class="fas fa-bolt"></i> Activities
            </a>
            <a href="features-settings.html" class="dropdown-item has-icon">
              <i class="fas fa-cog"></i> Settings
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </li>
      </ul>
      <!-- NAVBAR -->
    </nav>


    <!-- MAIN CONTENT -->
    <div class="main-sidebar">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <a href="index.html">COMPANY</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
          <a href="index.html">X</a>
        </div>

        <!-- SIDEBAR -->
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
              <ul class="dropdown-menu">
                <li class="active"><a class="nav-link" href="index-0.html">General Dashboard</a></li>
                <li><a class="nav-link" href="index.html">etc</a></li>
              </ul>
            </li>
        </ul>
        <!-- END SIDEBAR -->
      </aside>
    </div>
    <div class="main-content">
      <section class="section">
        <div class="section-header">
          <h1>Dashboard</h1>
        </div>
        <div class="row">
          <!-- LOOP DIVISI -->

          {% for i in d_obj.divisi_set.all %}
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <a href="{{ i.url }}" class="card card-statistic-1" style="text-decoration: none;">
              <div class="card-icon bg-primary d-flex" style="height: 120px; width: 90%;">
                <i class="far fa-user justify-content-center align-self-center pl-4" style="font-size: 100px;"></i>
              </div>
              <div class="card-wrap">

                <div class="card-header">
                  <h4 style="font-size: 20px; color: rgb(73, 73, 73);">{{ i.divisiName }}</h4>
                </div>
                <div class="card-body" style="color: rgb(163, 163, 163);">
                  {{i.pengguna_set.all.count}}
                </div>
              </div>
            </a>
          </div>

          {% endfor %}

          <!--END LOOP DIVISI-->
        </div>
      </section>
    </div>


<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{%load static%}
<script src="{% static 'bootstrap/js/stisla.js' %}"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="{% static 'bootstrap/js/scripts.js' %}"></script>
<script src="{% static 'bootstrap/js/custom.js' %}"></script>
<script src="{% static 'bootstrap/js/index.js' %}"></script>



{% endblock %}
