{% extends 'base.html' %}

{% block content %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Daftar</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<div class="d-flex justify-content-center" id="paper">
    <div class="container text-center shadow-lg" id="content">
        <div class="row justify-content-center">
            <h6 class="fw-bold fs-2">Silahan Masuk</h6>
        </div>
        <form action='' method='POST'>
          {% csrf_token %}
        <div class="row justify-content-center">
            <div class="input-group mb-2 mt-2">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input type="text" name="username" id="username" class="form-control text-center" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>      
        <div class="row justify-content-center">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" name="password1" id="password1" class="form-control text-center" aria-label="Password" aria-describedby="basic-addon1">
              </div>
        </div>
        <br>
        <button type="submit" class="btn btn-lg btn-primary">
          Submit
        </button>    
        {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
  
      </form>

    </div>
</div>

<script>
    var user = document.getElementById('username').value;
    console.log(user)
</script>


{% endblock %}